.atas-lanjut2{
    background-color: rgb(252, 0, 126);;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}



   
   .atas-lanjut2 h1{
    padding-top: 210px;   
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
   }


   