.atas-program4{
    background-image:url('../img/lab4.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    background-position: center;
    
    
}



   
   .isi-program4 h1{
    padding-top: 610px;   
    color: rgb(252, 0, 126);
    text-align: center;
    font-size: 50px;
   }
   
  
   .isi2-program4 h2{
    color: grey;
    text-align: center;
    justify-content: center;
    padding: 0 200px;
    margin-top: 120px;
    margin-bottom: 120px;
   }

   
   